
@{
    ViewData["Title"] = "داشبورد";
}


<section class="margin-20">
    <h2 class="table-title animate__animated animate__fadeIn animate__delay-1s">مقالات</h2>
    <table class="table animate__animated animate__zoomIn animate__delay-1s ">
        <thead>
            <tr>
                <th>#</th>
                <th>عنوان دسته</th>
                <th>تعداد مقالات</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>طراحی های خلاقانه با html css</td>
                <td>10</td>
                <td>...</td>
            </tr>

            <tr>
                <td>2</td>
                <td>طراحی های خلاقانه با html css</td>
                <td>10</td>
                <td>...</td>
            </tr>
            <tr>
                <td>3</td>
                <td>طراحی های خلاقانه با html css</td>
                <td>10</td>
                <td>...</td>
            </tr>
            <tr>
                <td>4</td>
                <td>طراحی های خلاقانه با html css</td>
                <td>10</td>
                <td>...</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary mt-20 animate__animated animate__zoomIn animate__delay-1s" href="tel:+943543">بیشتر ...</a>
</section>
<section class="margin-20">
    <h2 class="table-title animate__animated animate__fadeIn animate__delay-2s">دسته بندی ها</h2>
    <table class="table animate__animated animate__zoomIn animate__delay-2s ">
        <thead>
            <tr>
                <th>#</th>
                <th>عنوان دسته</th>
                <th>تعداد مقالات</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>طراحی های خلاقانه با html css</td>
                <td>10</td>
                <td>...</td>
            </tr>

            <tr>
                <td>2</td>
                <td>طراحی های خلاقانه با html css</td>
                <td>10</td>
                <td>...</td>
            </tr>
            <tr>
                <td>3</td>
                <td>طراحی های خلاقانه با html css</td>
                <td>10</td>
                <td>...</td>
            </tr>
            <tr>
                <td>4</td>
                <td>طراحی های خلاقانه با html css</td>
                <td>10</td>
                <td>...</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary mt-20 animate__animated animate__zoomIn animate__delay-2s" href="tel:+943543">بیشتر ...</a>
</section>
<section class="margin-20">
    <h2 class="table-title animate__animated animate__fadeIn animate__delay-3s">کاربران</h2>
    <table class="table animate__animated animate__zoomIn animate__delay-3s ">
        <thead>
            <tr>
                <th>#</th>
                <th>عنوان دسته</th>
                <th>تعداد مقالات</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>طراحی های خلاقانه با html css</td>
                <td>10</td>
                <td>...</td>
            </tr>

            <tr>
                <td>2</td>
                <td>طراحی های خلاقانه با html css</td>
                <td>10</td>
                <td>...</td>
            </tr>
            <tr>
                <td>3</td>
                <td>طراحی های خلاقانه با html css</td>
                <td>10</td>
                <td>...</td>
            </tr>
            <tr>
                <td>4</td>
                <td>طراحی های خلاقانه با html css</td>
                <td>10</td>
                <td>...</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary mt-20 animate__animated animate__zoomIn animate__delay-3s" href="tel:+943543">بیشتر ...</a>
</section>

