@model CategoryViewModel
@{
    ViewData["Title"] = "جزئیات "+Model.Title;
}

    <section class="margin-20">
        <section class="table-container">
            <table class="table">
                <tbody>
                    <tr>
                        <td>عنوان</td>
                        <td>تعداد مقالات</td>
                    </tr>
                    <tr>
                        <td>@Model.Title</td>
                        <td>@Model.ArticleCount</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>

