@model CategoryDto
@{
    ViewData["Title"] = "ویرایش دسته بندی";
}

@section Navbar{
    <a asp-action="Index">دسته بندی ها</a>
    <a asp-action="Create">افزودن</a>
    <a asp-action="Details" asp-route-id="@Model.Id">جزئیات</a>
    <a href="#" class="active">ویرایش</a>
    <a asp-action="Delete" asp-route-id="@Model.Id">حذف</a>
}
<h2 class="text-dark">افزودن دسته بندی</h2>
<section class="form-container">
    <form method="post" asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="All"></div>
        <section class="form-group">
            <label asp-for="Title"></label>
            <input type="text" asp-for="Title" class="form-group-control">
            <span class="danger"></span>
        </section>
        <button type="submit" class="btn btn-submit">
            تایید
        </button>
    </form>
</section>

