/* only admin styles */

@font-face {
    font-family: yekan;
    src: url(fonts/Yekan.eot);
    src: url(fonts/Yekan.eot?#iefix) format("embedded-opentype"), url(fonts/Yekan.woff) format("woff"), url(fonts/Yekan.ttf) format("truetype"), url(fonts/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p {
    color: white;
    font-size: 20px;
    padding:10px 5px;
}
body {
    font-family:yekan,sans-serif,'B Nazanin';
    background-color: #141b2d;
}

ul {
    list-style: none;
}

a {
    color: #bfc8de;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}
    a.link-hover:hover, a.link-hover:focus {
        color: #0162e8;
    }


/* scroll styles */

::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background-color: #989898;
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #5a0202;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #a5aaad;
}


/* container */

body {
    direction: rtl;
}

.container {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: .8fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas: "sidebar navbar navbar navbar" "sidebar main main main" "sidebar footer footer footer";
}


/* main  */

main {
    grid-area: main;
    padding: 25px 50px;
}

a.create-link {
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    padding: 10px;
    margin-bottom: 15px;
    display: block;
    background: #f00;
    border: 1px solid #000;
    box-shadow: inset -1px -1px 20px 20px #4a0000;
    border-radius: 20px;
    text-align: center;
    transition: all .3s ease-in-out;
}

.table-container {
    overflow-x: auto;
}

.table-title {
    border-bottom: 2px solid #0b00b7;
    padding: 2px 15px 2px 100px;
    margin-bottom: 20px;
    color: #ddd;
    width: max-content;
}

.table {
    border-collapse: collapse;
    width: 100%;
    border: 5px solid #000000;
    box-shadow: 4px 4px 6px #0a043c;
    background: #1a1a2e;
    color: #ffffff;
}

.table th,
.table td {
    text-align: center;
    padding: 15px;
    white-space: nowrap;
}

.table td {
    font-size: 16px;
    font-weight: 500;
    color: #d6e6f2;
}

.table tr:nth-child(even) {
    background-color: #333;
}

.table thead {
    background-color: #222831;
    color: #e23e57;
    font-size: 18px;
    font-weight: 700;
}

.table>tbody>tr {
    transition: all .5s ease-in-out;
}

.table>tbody>tr:hover {
    background-color: #0f4c75;
}

.table>tbody>tr:hover>td {
    color: #bbe1fa
}

.margin-20 {
    margin: 20px 0;
}

.bordered {
    border: 1px solid #000;
    margin: 20px 10px;
    box-shadow: 2px 2px 4px #000c29;
}

.text-danger {
    color: crimson;
    font-size: 14px;
}

.form-container {
    padding: 50px
}

.pagination {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
    position: relative;
}

.pagination li {
    display: inline;
    text-align: center;
}

.pagination a {
    float: right;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #666;
    margin-left: 0 10px;
    border: 1px solid transparent;
    line-height: 1.5;
}

.pagination a:not(.active):hover {
    background: #1E7EE2;
    color: #fff;
}

.pagination a.active {
    background: #00f;
    color: #fff;
    cursor: default;
}

.pagination::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 35px;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0.65)), color-stop(50%, rgba(0, 0, 0, 0.65)), color-stop(60%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 40%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.65) 60%, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 40%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.65) 60%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 40%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.65) 60%, rgba(0, 0, 0, 0) 100%);
}

.pagination .prev,
.pagination .next {
    color: #1E7EE2;
}


/* navbar */

#toggle {
    display: none;
}

#profile-box {
    display: flex;
    opacity: 0;
    position: absolute;
    padding: 10px;
    border: 3px solid #fff;
    border-radius: 15px;
    background-color: beige;
    top: 85%;
    right: 0;
    width: 200px;
    height: 150px;
    justify-content: flex-start;
    align-items: center;
    z-index: -1;
    flex-direction: column;
}

#profile-box>a {
    color: #0a043c;
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 0.625rem 1.25rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

#profile-box>a:hover {
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(156 39 176 / 40%);
    background-color: #9c27b0;
    color: #FFFFFF;
}

#profile-box.animate__fadeInDown {
    z-index: 11;
}

.navbar-toggle {
    font-size: 30px;
    margin: auto 10px auto 0;
    color: white;
    position:absolute;
    cursor: pointer;
    display: none;
}

.navbar {
    box-shadow: 2px 2px 5px #000c29;
    grid-area: navbar;
    height: 60px;
    background-color: #1f2940;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-radius: 15px;
    border-bottom: 1px solid #000;
}

.navbar-right {
    overflow-x:auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 10px;
}

.navbar-right>a {
    white-space:nowrap;
    color: #bfc8de;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}

.navbar-right>a.active {
    border-bottom: 3px solid #0162e8;
    color: #0162e8;
}

.navbar-right>a:hover {
    transition: all .5s;
    color: #71c9ce;
    border-color: #71c9ce;
}

.navbar-left {
    position: relative;
}

.navbar-left .profile {
    color: #dadbdc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar-left .profile>span {
    white-space:nowrap;
    font-size: 18px;
    padding: 0 20px;
    cursor: pointer;
}


/* sidebar */

.sidebar {
    position: fixed;
    width: 19%;
    grid-area: sidebar;
    background-color: #000c29;
    overflow-y: auto;
    color: #ddd;
    z-index: 11;
    right: 0;
    top: 0;
    height: 100vh;
    bottom: 0;
    padding: 20px;
    background-image: linear-gradient( 45deg, #0a043c, #000c29);
}

.sidebar-close {
    display: none;
    top: 5;
    position: absolute;
    right: 5;
    font-size: 25px;
}

.sidebar-close:hover>i {
    transition: color .3s ease-in-out;
    color: red;
}

.sidebar header {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #e6e6e6;
    border-bottom: 3px solid #502020;
}

.sidebar header img {
    width: 100px;
}

.sidebar ul {
    padding: 10px 0;
}

.sidebar>ul>li {
    padding-bottom: 15px;
}

.sidebar>ul>li>a {
    transition: all .4s ease-in-out;
}

.sidebar>ul>li.active>a {
    background-color: #eee;
    color: #1d1d1d;
}

.sidebar>ul>li :hover {
    background-color: #dbe2ef;
    color: #112d4e;
}

.sidebar>ul>li :hover i {
    color: #111;
}

.sidebar a {
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #a5aaad;
    justify-content: space-between;
}

.sidebar i {
    color: #eee;
}

.sidebar-title {
    color: #16c79a;
    padding: 10px 0;
}

.danger {
    background-color: #000 !important;
    color: #91091e !important;
}

.danger:hover {
    filter: drop-shadow(2px 2px 5px #f00)
}

.danger i {
    color: #91091e !important;
}


/* footer */

footer {
    grid-area: footer;
    background-image: linear-gradient( 45deg, #0a043c, #000c29);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eee;
}

footer>p {
    padding: 10px;
}


/* global styles */

.btn.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn.btn.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.btn-sm {
    padding: 5px 10px;
    width: 70px;
    height: 40px;
    font-size: 16px;
}

.btn {
    background-color: #222831;
    color: #eee;
    cursor: pointer;
    width: 150px;
    height: 50px;
    justify-content: center;
    display: inline-flex;
    padding: 10px 20px;
    align-items: center;
    margin: auto;
    text-decoration: none;
    font-size: 18px;
    border-radius: 15px;
    transition: all .5s ease-in-out;
    font-weight: 700;
}
.btn.btn-center{
    display:flex;
}
.btn-primary {
    border: 1px solid #007bff;
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.mt-20 {
    margin-top: 20px !important;
}

.text-dark {
    color: #5b6e88;
}

.form-group {
    margin-bottom: 1.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content:space-between
}

.form-group label {
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
}

.form-group .form-group-control {
    width: 100% !important;
    height: 40px;
    margin-right: 1rem;
    background-color: #232e48;
    border: 1px solid rgba(226, 232, 245, 0.1);
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 0.375rem 0.75rem;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-align: right;
    max-height: 150px;
}

.form-group input:focus,
.form-group textarea:focus,
.btn-submit:focus {
    outline: 0;
}

.form-group.form-group-checkbox {
    width: fit-content;
}

.form-group.form-group-checkbox input {
    margin: 0 20px;
}

.btn.btn-submit {
    width: 171px;
    height: 65px;
    background: #2c0055;
    border-radius: 25px;
    z-index: 3;
    border: 2px solid #2c0055;
    transition: all 1s ease-in-out;
    color: beige;
    font-size: 20px;
    margin-top: 20px;
}

.btn.btn.btn-submit:hover {
    box-shadow: 0px 0px 16px #c80de0;
}

.text-editor {
    padding: 10px;
}

.text-editor h3 {
    margin-bottom: 10px;
}

.cursor-no {
    cursor: not-allowed;
}

.margin-rl-10 {
    margin: auto 10px;
}

dl {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #eee;
    flex-direction: column;
}

dl>dt {
    font-weight: 700;
    font-size: 20px
}

dl>dd {
    font-size: 18px;
    padding: 5px;
}

label {
    white-space: nowrap;
}

.validation-summary-errors>ul {
    list-style-type: disc;
    color: #b30000;
    font-size: 17px;
    font-weight: 700;
    margin: 20px 0;
}
.badge {
    border-radius:10px;
    display: inline-block;
    padding: .5rem .8rem;
    font-size: 92%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.badge-primary {
    color: #fff;
    background-color: #42a5f5;
}

.badge-warning {
    color: #fff;
    background-color: #ffca28;
}


/*Tom Select styles*/

#disable-wrapper {
    margin-right: 10px;
    width: 100%;
    position: relative;
}

.ts-control.multi .ts-input>div {
    font-size: 20px;
}
.ts-control.single.rtl {
    width: 100%;
    margin-right: 1rem;
}

.ts-control.plugin-remove_button .item .remove {
    font-size: 35px;
    color: #00f !important;
}

.ts-control.plugin-remove_button .item .remove:hover {
    color: #f00 !important;
}
.items .item{
    margin-left:2rem;
}
#disable-backspace-tomselected {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}
/*Sweet Alert Styles*/
.swal-modal > .swal-footer{
    display:flex;
    justify-content:flex-end
}
/*Image Styles*/
.img-contain {
    max-width: 100%;
}

/*Responsive Styles For Minmize 980px*/

@media only screen and (max-width: 980px) {
    .sidebar>header {
        flex-direction: column;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-right{
        margin-right:50px;
    }
    .sidebar>header>h3 {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .sidebar {
        top: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        width: 25%;
        display: none;
    }
    #toggle:checked~.sidebar {
        display: block;
    }
    #toggle:checked~.sidebar .sidebar-close {
        display: block;
    }
    .sidebar a {
        font-size: 16px;
    }
    .sidebar-title {
        font-size: 17px;
    }
    .container {
        grid-template-areas: "navbar" "main" "footer";
        grid-template-columns: 100%;
    }
}


/*Responsive Styles For Minmize 720px*/

@media only screen and (max-width:720px) {
    .sidebar {
        width: 30%;
    }
}


/*Responsive Styles For Minmize 580px*/

@media only screen and (max-width:580px) {
    .sidebar {
        width: 50%;
    }
}