.icon-style1 {
    color: rgb(18, 168, 228);
    font-size: 25px;
}

.icon-style2 {
    color: rgb(255, 29, 206);
    font-size: 25px;
}

.icon-style3 {
    color: rgb(255, 52, 52);
    font-size: 25px;
}

h6 {
    line-height: 160%;
}

.footer {
    background-color: #252525;
}

.hamkari {
    background-color: lightgreen;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: brown;
    padding: 3%;
}
.d-flex{
    display:flex !important;
    justify-content:center;
    align-content:center;
}
.d-flex.justify-content-between{
    justify-content:space-between;
}
.might-top > .a-btn {
    margin-top: 2rem !important;
}
.state-container {
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
}
.state {
    color: #b1b1b1;
    font-size: 14px;
    font-weight: 700;
    display: inline-flex;
}
.state i{
    font-size:14px;
}
.ml-1{
    margin-left:1rem;
}
.might-top > .a-btn > a{
    float:left;
}
.content-container img{
    max-width:100%;
}
.content-container * , p{
    white-space:pre-wrap;
    overflow-wrap:break-word;
}
.content-container blockquote {
    border-right: 4px solid #ababab;
}
img.article-img{
    max-width:100%;
    max-height:300px;
    width:auto;
    height:auto;
}
#article-id {
    font-weight: 700;
    color: rgba(51,65,85,1);
    font-size: 2.25rem;
}
#article-img-container {
    width: 100%;
    padding: 15px;
}
.blog-ic > li {
    height: 25px;
    border: 1px solid #bfbfbf;
    background: #e6e6e6;
    border-radius: 20px;
    padding: 2px 9px;
    box-shadow: 1px 1px 2px #888;
    margin-top:7px;
}
.blog-ic > li > span >i{
    font-size:11px;
}
.mt-20{
    margin-top:20px
}
.space-evenly {
    justify-content: space-evenly !important;
}
.might-top .state-container{
    width:max-content;
}
.might-top .state-container .state{
    margin-left:20px;
}
.pagination li a.active {
    background: #00bcd4;
    color: #eee;
}
.title-bordered {
    border-right: 3px solid #e91e63;
    padding-right: 7px;
    font-weight: 600;
    font-size: 18px;
    color: #4a4a4a;
}
.mb-4{
    margin-bottom:1.5rem;
}
hr {
    border-top: 1px solid #dadada;
}
@media only screen and (max-width: 992px) {
    .about-tre> .panel {
        width: 50%;
        float: right;
    }
}
@media only screen and (max-width: 580px) {
    .about-tre>.panel{
        width:100%;
    }
}
