
@{
    ViewData["Title"] = "همکاری با ما";
}

<div class="welcome-top heading">
    <h3>همکاری با ما</h3>
    <div class="welcome-bottom"></div>
    <div class="text-muted">
        <p>جهت همکاری با سایت <b>خانه برنامه نویسان</b> ، از طریق دو آیدی تلگرام erfan_lg83@("@") و saman_z4@("@") در ارتباط باشید.</p>
        <br>
        <p>و یا از طریق شماره تلفن <b style="font-family:Arial">9095 636 0915</b> با ما در ارتباط باشید.</p>
    </div>
</div>