
@if (User.Identity.IsAuthenticated)
{

    @if (User.IsInRole("مدیر"))
    {
        <li>
            <a href="/admin">ورود به پنل ادمین</a>
        </li>
    }
    <li>
        <a href="/signout">خروج</a>
    </li>
}