@model ArticleDto
@{
    ViewData["Title"] = "ویرایش مقاله";
}
@section Styles{
    <link href="https://cdn.jsdelivr.net/npm/tom-select@1.1/dist/css/tom-select.css" rel="stylesheet">
}
@section Navbar{
    <a asp-action="Index">مقالات</a>
    <a asp-action="Create">افزودن</a>
    <a asp-action="Details" asp-route-id="@Model.Id">جزئیات</a>
    <a href="#" class="active">ویرایش</a>
    <a asp-action="Delete" asp-route-id="@Model.Id">حذف</a>
}
<h2 class="text-dark">افزودن دسته بندی</h2>
<section class="form-container">
    <form method="post" enctype="multipart/form-data" asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="All">

        </div>
        <section class="form-group">
            <label asp-for="Title">عنوان</label>
            <input type="text" asp-for="Title" class="form-group-control">
            <span class="danger"></span>
        </section>
        <section class="form-group">
            <label asp-for="TimeToRead">زمان مطالعه (دقیقه)</label>
            <input asp-for="TimeToRead" class="form-group-control">
            <span class="danger"></span>
        </section>
        <section class="form-group">
            <label asp-for="Description">توضیح خلاصه</label>
            <textarea asp-for="Description" class="form-group-control">

            </textarea>
            <span class="danger"></span>
        </section>
        <section class="form-group">
            <label asp-for="CategoryId">دسته بندی</label>
            <select asp-items="ViewBag.Categories" id="category-select" asp-for="CategoryId">
                <option value="">
                </option>
            </select>
        </section>
        <section class="form-group">
            <label asp-for="Tags">برچسب ها</label>
            <div id="disable-wrapper" style="position:relative">
                <input type="text" asp-for="Tags" id="disable-backspace" autocomplete="off">
                <input type="text" id="input-disable-control" class="form-control mt-2" autocomplete="off" placeholder="برچسب های خودرا وارد کنید">
            </div>
        </section>

        <section class="form-group">
            <label asp-for="Content">محتوا</label>
        </section>

        <textarea asp-for="Content" id="contentInput"></textarea>

        <section class="form-group mt-20">
            <label asp-for="FormFile">تصویر مقاله</label>
            <input asp-for="FormFile" type="file" />
        </section>

        <section class="form-group mt-20 form-group-checkbox">
            <label asp-for="IsPublish">منتشر شود ؟</label>
            <input asp-for="IsPublish" type="checkbox" />
        </section>
        <button type="submit" class="btn btn-submit">
            تایید
        </button>
    </form>
</section>
@section Scripts{
    <script src="~/js/tom-select.base.min.js"></script>
    <script src="~/js/remove_button.js"></script>
    <script src="~/js/no_backspace_delete.js"></script>
    <script src="//cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <script src="~/js/plugins/colorbutton/plugin.js"></script>
    <script>
        new TomSelect('#category-select');
        new TomSelect('#disable-backspace', {
            plugins: ['no_backspace_delete', 'remove_button',],
            persist: false,
            create: true,
            controlInput: '#input-disable-control',
            dropdownParent: '#disable-wrapper',
            valueField: 'title',
            labelField: 'title',
            searchField: 'title',
            options: [
                { title: 'برنامه نویسی' },
                { title: 'سی شارپ' },
                { title: 'پایتون' },
                { title: 'Php' },
                { title: 'CSharp' },
                { title: 'C#' },
                { title: 'Python' }
            ],
        });
        CKEDITOR.replace('contentInput', {
            customConfig: '/js/Config.js'
        });
    </script>
}
